*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html {
    font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
  }
   */

body{
    height: 100vh;
    background: #eaeaec;
    font-family:  Arial, Helvetica, sans-serif;
    /* margin: auto 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: .2rem;
    /* width: 32rem; */
    max-width: 25rem;
    /* min-height: 20rem; */
    /* width: max(50%, 500px); */
    border: 1px solid;
    padding: .8rem;
    border-radius: 3px;
}

.container,h2,p{
    font-size: clamp(.5rem, 2vw + 1rem, 1.2rem);
}


@media(max-width: 600px){
    body{
        padding: 1.5rem;
    }
    .container{
        /* font-size: clamp(.7rem, 2vw + .6rem, .8rem); */
        color: red;
        /* max-width: rem; */
        padding: .8rem;
        line-height: 1;
    }
}